<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace :命名空间 -->
<mapper namespace="cn.com.zjf.model.UserMapper">

	<!-- 获取一个学生对象 -->
	<select id="get" resultType="cn.com.zjf.model.User" parameterType="int">
		select * from user where id=#{id}
	</select>
</mapper>